
header, footer {
    background-color: #122E64;
    padding: 1rem;
    margin: 1rem;
    color: white;
}

a,a:visited{
    color:white;
}

div{
    padding: 1rem;
    margin: 1rem;
}


.main-section{
    margin-left: 1rem;
    background-color: #122E64;
}

.sub-section{
    margin-left: 2rem;
    background-color: #1B3E83;
}

html, body{
    background-color: #061C48;
}

h1,h2,h3,h4,h5,h6,p,b{
    color: white;
}